body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

p, .justify {
    text-align: justify;
}

.title {
    text-align: center;
    font-weight: bold;
}

.zspi-table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.smaller {
    font-size: 0.8em;
    text-align: center;
}

.smaller td {
    width: 50%;
}

.normal-size {
    font-size: 1rem !important;
}

.top-line {
    border-top: 1px solid black;
}

.grb {
    height: 1em;
}

.request {
    padding: .5rem;
}

.preview-sidebar {
    width: 100%;
    height: 36em;
}

.preview-sidebar > iframe {
    width: 100%;
    height: 100%;
    /* remove border */
    border: 1px solid black;
}

#autofill-dialog {
    width: calc(100vw - 25px);
    height: 90vh;
}

@media screen and (min-width: 525px) {
    #autofill-dialog {
        width: 525px;
    }
}

#autofill-search {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    border: 1px solid black;
}

.result {
    box-sizing: border-box;
    padding: .5rem;
    border-bottom: 1px solid black;
    cursor: pointer;
    font-size: .9em;
}

.result:hover {
    background-color: #eee;
}

/* if screen is wider than 800px, make sidebar 30% */
@media screen and (min-width: 48em) {
    body {
        flex-direction: row;
    }
    .preview-sidebar {
        width: 30%;
        min-height: 100%;
        height: auto;
    }
}